@import "tailwindcss";

@theme {
  --color-primary: #4edea3;
  --color-primary-container: #10b981;
  --color-on-primary: #003824;

  --color-surface-dim: #070d1f;
  --color-surface: #0c1324;
  --color-surface-container-lowest: #070d1f;
  --color-surface-container-low: #151b2d;
  --color-surface-container: #191f31;
  --color-surface-container-high: #23293c;
  --color-surface-container-highest: #2a3045;

  --color-on-surface: #dce1fb;
  --color-on-surface-variant: #bbcabf;
  --color-outline: #86948a;
  --color-outline-variant: #3c4a42;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
}
